:root {
  --color-skin: #fcd0b4;
  --color-eye: #1dace5;
  --color-red: #e32227;
  --color-hair: #884f31;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-skin);
  position: relative;
}

.nose {
  background-color: var(--color-skin);
  width: 200px;
  height: 150px;
  border-radius: 50%;
  border: 9px solid black;
  z-index: 100;
  position: relative;
  margin-top: -95px;
}

.eyes {
  display: flex;
  gap: 60px;
  margin-top: 50px;
}
.left-eye,
.right-eye {
  width: 140px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  background-color: var(--color-skin);
  z-index: 99;

  &__container {
    background-color: white;
    border: 7px solid black;
    width: 65%;
    height: 70%;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    isolation: isolate;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
      transform: translateY(-100%);
      //animation: openCloseEyes infinite alternate 5s linear;

      background-color: var(--color-skin);
    }

    & > * {
      border-radius: 50%;
      position: absolute;
    }

    &--blue {
      border: 6px solid black;
      width: 80%;
      height: 70%;

      background-color: var(--color-eye);
    }

    &--black {
      background-color: black;
      width: 60%;
      height: 50%;
    }

    &--white-small {
      background-color: white;
      width: 20%;
      height: 20%;
    }
  }
}

.left-eye {
  &__container {
    left: 25px;
    top: 25px;

    &--blue {
      left: 25px;
      top: 15px;
    }

    &--black {
      left: 50px;
      top: 40px;
    }

    &--white-small {
      left: 65px;
      top: 55px;
    }
  }
}

.right-eye {
  &__container {
    right: 25px;
    top: 25px;

    &--blue {
      right: 25px;
      top: 15px;
    }

    &--black {
      right: 50px;
      top: 40px;
    }

    &--white-small {
      right: 65px;
      top: 55px;
    }
  }
}

@keyframes openCloseEyes {
  2%,
  98% {
    transform: translateY(-100%);
  }
  0%,
  100% {
    transform: translateY(0);
  }
}

.left-eyebrow,
.right-eyebrow {
  background-color: black;
  margin-top: -35px;
  border-radius: 50%;
  position: absolute;
  width: 110px;
  height: 140px;
}

.left-eyebrow {
  margin-left: 10px;
  transform: rotate(-25deg);
}

.right-eyebrow {
  margin-left: 220px;
  transform: rotate(25deg);
}

.moustache {
  display: flex;
  margin-top: -65px;
  z-index: 98;

  & > * {
    background-color: black;
    border-radius: 50%;
  }

  &__part1,
  &__part7 {
    width: 80px;
    height: 100px;
    margin-top: -80px;
  }

  &__part2,
  &__part6 {
    width: 80px;
    height: 100px;
    margin-top: -35px;
  }

  &__part3,
  &__part5 {
    width: 95px;
    height: 95px;
  }

  &__part1 {
    margin-right: -50px;
    transform: rotate(50deg);
  }

  &__part2 {
    margin-right: -30px;
    transform: rotate(40deg);
  }

  &__part3 {
    margin-right: -25px;
  }
  &__part4 {
    width: 30px;
    height: 20px;
    margin-top: 65px;
  }
  &__part5 {
    margin-left: -25px;
  }

  &__part6 {
    margin-left: -30px;
    transform: rotate(-40deg);
  }

  &__part7 {
    margin-left: -50px;
    transform: rotate(-50deg);
  }
}

.mouth {
  margin-top: -90px;
  border-radius: 50%;
  background-color: black;
  border: 6px solid black;
  width: 120px;
  height: 150px;
  z-index: 97;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &__teeth {
    width: 130px;
    height: 100px;
    background-color: white;
    border-radius: 0 0 50% 50%;
    margin-top: 55px;
  }

  &__tongue {
    background-color: var(--color-red);
    width: 80px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
  }
}

.chin {
  //background-color: var(--color-red);
  width: 240px;
  height: 300px;
  margin-top: -290px;
  border: 16px solid black;
  border-color: transparent transparent black transparent;
  border-radius: 0 0 50% 50%;
  z-index: 96;
}

.cheeks {
  display: flex;
  top: 86px;
  z-index: 96;
  position: absolute;

  .left-cheek,
  .right-cheek {
    border-bottom: 16px solid transparent;
    border-top: 16px solid transparent;
    width: 378px;
    height: 300px;
  }
  .left-cheek {
    border-left: 16px solid black;
    border-radius: 50% 0 0 50%;
    margin-right: -167px;
    transform: rotate(-35deg);
    //background-color: var(--color-red);
  }
  .right-cheek {
    border-right: 16px solid black;
    border-radius: 0 50% 50% 0;
    margin-left: -167px;
    transform: rotate(35deg);
  }
}

.ears {
  position: absolute;
  margin-top: -50px;

  .left-ear {
    width: 140px;
    height: 180px;
    background-color: black;
    position: absolute;
    right: 150px;
    top: 200px;
    border-radius: 50%;
    transform: rotate(-30deg);
    z-index: 95;

    &__inner {
      width: 77%;
      height: 80%;
      background-color: var(--color-skin);
      border-radius: 50%;
      margin-left: 19px;
      margin-top: 17px;

      &__line {
        background-color: black;
        width: 60px;
        height: 10px;
        transform: rotate(65deg);
        border-radius: 100% 0;
        top: 70px;
        left: 65px;
        position: absolute;
      }
    }
  }

  .right-ear {
    width: 140px;
    height: 180px;
    background-color: black;
    position: absolute;
    left: 150px;
    top: 200px;
    border-radius: 50%;
    transform: rotate(30deg);
    z-index: 95;

    &__inner {
      width: 77%;
      height: 80%;
      background-color: var(--color-skin);
      border-radius: 50%;
      margin-left: 13px;
      margin-top: 17px;

      &__line {
        background-color: black;
        width: 60px;
        height: 10px;
        transform: rotate(-65deg);
        border-radius: 0 100%;
        top: 70px;
        right: 65px;
        position: absolute;
      }
    }
  }
}
